#### In this excercise I chose to measure the effect of TB in terms of deaths, which led to the following questions:

* What is the total, smallest, largest, and average number of deaths due to TB?
* What is the death rate (number of deaths divided by population) of each country?
* Which countries have the smallest and largest number of deaths?
* Which countries have the smallest and largest death rate?

### Task_1

* Define the variable..?

* Add assignments to the in a new code cell for the estimated deaths by TB in 2013 in the remaining BRICS countries. The values are as follows: Russia 17000, India 240000, China 41000, South Africa 25000.

* Don't forget to run the code cell, so that the new variables are available for the exercises further below.

To sum up, a variable is a named storage for values and an assignment takes the value on the right hand side of the equal sign (=) and stores it in the variable on the left-hand side.

for example: deathsInBrazil = 4400

In [1]:
# Creating variables and estimating the deaths by TB 
deathsInRussia, deathsInIndia, deathsInChina, deathsInSouthafrica = 17000, 240000, 41000,25000

### Task_2
* Define the expressions.?
* Write the variable names of the remaining BRICS countries
* In the cell below, write code to calculate the total number of deaths in the five BRICS countries (Brazil, Russia, India, China, South Africa) in 2013. Run the code to see the result, which should be 327400.
* In the cell below, write code to calculate the average number of deaths in the BRICS countries in 2013. Run the code to see the result, which should be 65480.

* An expression is a fragment of code that has a value. A variable name, by itself, is an expression: the expression's value is the value stored in the variable. In Jupyter notebooks, if the last line of a code cell is an expression, then the computer will show its value when executing the cell.

* More complex expressions can be written using the arithmetic operators of addition (+), substraction (-), multiplication (*) and division (/). 
* For example, the total number of deaths in the BRICS countries is:

In [18]:
# names of the remaining BRICS countries
deathsInBrazil = 4400

# code to calculate the total number of deaths in the five BRICS countries
print(deathsInBrazil+deathsInRussia+deathsInIndia+deathsInChina+deathsInSouthafrica)

# Or

deathsInBrazil+deathsInRussia+deathsInIndia+deathsInChina+deathsInSouthafrica

327400

327400

In [20]:
# Or
total_number = deathsInBrazil+deathsInRussia+deathsInIndia+deathsInChina+deathsInSouthafrica
print(total_number)

327400

In [21]:
# code to calculate the average number of deaths in the BRICS countries
print(total_number/5)
# Task_2_completed../

65480.0

### Task_3
* What is fucntion.?
* Compute the largest and smallest number of deaths in the BRICS countries.
* Compute the range.

* A function takes zero or more values (the function's arguments) and returns (produces) a value.
  To call (use) a function, write the function name, followed by its arguments within parentheses (round   brackets).
  Multiple arguments are separated by commas. Function names follow the same rules and conventions as variable names. 
  A function call is an expression: the expression's value is the value returned by the function.

* Python provides two built in functions to compute the maximum (largest) and minimum (smallest) of two or more values.

In [29]:
# Code for Computing the largest and smallest number of deaths in the BRICS countries.
largest = max(deathsInBrazil,deathsInRussia,deathsInIndia,deathsInChina,deathsInSouthafrica)
smallest = min(deathsInBrazil,deathsInRussia,deathsInIndia,deathsInChina,deathsInSouthafrica)
print(largest) # print largest deaths 
print(smallest) # print smallest deaths

240000
4400

In [32]:
# Code to compute the death range.
range = largest - smallest

print(range)

# Task_3_completed../

235600

### Task_4
* Make a comment on import statement.
* What read_excel() did..?
* Import the data using **WHO POP TB some.xls** file on jupyter notebook and use the head().
* In the next cell, select the population column and store it in a variable (you'll use it in the next exercise). You need to scroll back to the start of the exercise to see the column's name.

* To load all the code from the pandas module.The words in boldface (**from** and **import**) are **reserved** words of the Python language and they cannot be used as names.

* function takes a string with the name of an Excel file, and returns a dataframe, the pandas representation of a table. The computer reports a file not found error if the file is not in the same folder as this notebook, or the file name is misspelt.

In [33]:
# load the pandas module
from pandas import*

In [37]:
# Importing the data 
data = read_excel("WHO POP TB some.xls") 
data.head()

             Country  Population (1000s)  TB deaths
0             Angola               21472       6900
1             Brazil              200362       4400
2              China             1393337      41000
3  Equatorial Guinea                 757         67
4      Guinea-Bissau                1704       1200

In [56]:
# select the population column
Pop = data["Population (1000s)"]
Pop

# Task_4_completed../

0       21472
1      200362
2     1393337
3         757
4        1704
5     1252140
6       25834
7       10608
8      142834
9         193
10      52776
11       1133
Name: Population (1000s), dtype: int64

### Task_5
* Use the population column variable from the previous exercise to calculate: Calculate the sum, the largest,smallest of the numbers and mean and median in population column variable.
* The dataframe method `sort_values()` takes as argument a column name and returns a new dataframe, with rows in ascending order according to the values in that column.
* Calculate the rate of population, in thousands of inhabitants and add **TB deaths (per 100000)** column to dataframe using rateColumn variable.

In [57]:
Pop.sum() # calculate the sum

3103150

In [58]:
Pop.max() # largest

1393337

In [59]:
Pop.min() # smallest

193

In [60]:
Pop.mean()

258595.83333333334

In [61]:
Pop.median()

23653.0

In [62]:
Pop.sort_values()

9         193
3         757
11       1133
4        1704
7       10608
0       21472
6       25834
10      52776
8      142834
1      200362
5     1252140
2     1393337
Name: Population (1000s), dtype: int64

In [63]:
# Computing the death rate of the population, in thousands of inhabitants
deathsColumn = data['TB deaths']
populationColumn = data['Population (1000s)']
rateColumn = deathsColumn * 100 / populationColumn
rateColumn

0     32.134873
1      2.196025
2      2.942576
3      8.850727
4     70.422535
5     19.167186
6     69.675621
7      1.319759
8     11.901928
9      9.326425
10    47.370017
11    87.378641
dtype: float64

In [64]:
# To add TB deaths (per 100000) column to dataframe../
data["TB deaths (per 100000)"] = rateColumn
data

# Task_5_completed../
# Excercise_1_Completed../

,Country,Population (1000s),TB deaths,TB deaths (per 100000)
0,Angola,21472,6900,32.134873
1,Brazil,200362,4400,2.196025
2,China,1393337,41000,2.942576
3,Equatorial Guinea,757,67,8.850727
4,Guinea-Bissau,1704,1200,70.422535
5,India,1252140,240000,19.167186
6,Mozambique,25834,18000,69.675621
7,Portugal,10608,140,1.319759
8,Russian Federation,142834,17000,11.901928
9,Sao Tome and Principe,193,18,9.326425
10,South Africa,52776,25000,47.370017
11,Timor-Leste,1133,990,87.378641

Mahendra Pratap Singh PGD Student at SCIS, JNU New Delhi | Enrolment no: 1611000144 | **Excercise_1**